/* Styles for the progress bar container */
.progress-bar-container {
  width: 100%;
  height: 4px;
  background-color: white;
  border-radius: 4px;
  overflow: hidden;
  opacity: 0.5; /* Initial opacity */
  transition: opacity 0.3s ease-out; /* Smooth opacity transition */
  margin: 1rem; /* Adds margin around the progress bar */
}

/* Styles to make the container fully visible when active */
.progress-bar-container .active {
  opacity: 1; /* Fully visible when active */
}

/* Styles for the actual progress bar */
.progress-bar {
  height: 100%;
  background-color: rgb(41, 41, 255); /* Progress bar color */
  border-radius: 4px; /* Rounded corners */
}
